*{
    cursor: none;
}


.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightsalmon;
}

.title{
   font-size: 10rem;
   color:black;
}

.cursor{
    background-color: #111;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;


}

